{
  "name": "EXAMPLE_SERVICE",
  "description": "EXAMPLE_SERVICE_DESCRIPTION",
  "actions": [
    {
      "name": "EXAPLE_ACTION",
      "description": "EXAMPLE_ACTION_DESCRIPTION",
      "type": "EXAMPLE_ACTION",
      "params": [
        {
          "name": "exampleField",
          "details": "An example field.",
          "type": "string",
          "required": true
        }
      ]
    }
  ],
  "reactions": [
    {
      "name": "EXAMPLE_REACTION",
      "description": "EXAMPLE_REACTION_DESCRIPTION",
      "type": "EXAMPLE_REACTION",
      "params": [
        {
          "name": "exampleField",
          "details": "An example field.",
          "type": "string",
          "required": true
        }
      ]
    }
  ]
}